<div class="modal fade" id="registerUserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Register</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- Default form register -->
                <form asp-action="Register" asp-controller="Account" class="text-center border border-light p-5">

                    <p class="h4 mb-4">Sign up</p>

                    <div class="form-row mb-4">
                        <div class="col">
                            <!-- First name -->
                            <input asp-for="@(new User().FirstName)" type="text" id="defaultRegisterFormFirstName" class="form-control" placeholder="First name">
                        </div>
                        <div class="col">
                            <!-- Last name -->
                            <input asp-for="@(new User().LastName)" type="text" id="defaultRegisterFormLastName" class="form-control" placeholder="Last name">
                        </div>
                    </div>
                    <!-- UserName -->
                    <input asp-for="@(new User().UserName)" type="text" id="defaultRegisterFormUserName" class="form-control mb-4" placeholder="User Name">

                    <!-- E-mail -->
                    <input asp-for="@(new User().Email)" type="email" id="defaultRegisterFormEmail" class="form-control mb-4" placeholder="E-mail">

                    <!-- Password -->
                    <input asp-for="@(new User().Password)" type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                    <small id="defaultRegisterFormPasswordHelpBlock" class="form-text text-muted mb-4">
                        At least 8 characters and 1 digit
                    </small>
                    <!--Re Password -->
                    <input asp-for="@(new User().RePassword)" type="password" id="defaultRegisterFormPassword" class="form-control" placeholder="Re Password" aria-describedby="defaultRegisterFormPasswordHelpBlock">
                    <span asp-validation-for="@(new User().RePassword)" class="text-danger"></span>


                    <!-- Sign up button -->
                    <button class="btn btn-cyan my-4 btn-block" type="submit">Register</button>

                    <hr>

                    <!-- Terms of service -->
                    <p>
                        By clicking
                        <em>Sign up</em> you agree to our
                        <a asp-action="Privacy" asp-controller="Home">terms of service</a>
                        <div asp-validation-summary="All" class="text-danger"></div>

                </form>
                <!-- Default form register -->
            </div>
        </div>
    </div>
</div>
